html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include media-breakpoint-up(xs) {
        font-size: 0.9rem;
    }

    @include media-breakpoint-up(sm) {
        font-size: 0.925rem;
    }

    @include media-breakpoint-up(md) {
        font-size: 0.95rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1rem;
    }
}

body {
    padding: calc(1.25rem * 1 / 1 + 0px);

    &::before,
    &::after {
        border: calc(1.25rem * 1 / 1 + 0px) solid transparent;
        z-index: 100;
        position: fixed;
        content: '';
        user-select: none;
        pointer-events: none;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        will-change: border-color;
        border-color: var(--secondary-colour, $yellow);
    }
}

.btn {
    font-weight: 600
}

.underline {
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 1rem;
    color: $yiq-text-dark;
    letter-spacing: 0.8px;

    box-shadow: inset 0px -4px 0px #6dcff6;

    &:hover,
    &:active {
        text-decoration: none;
    }
}

.wrap-nav {

    .nav-item {
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 1rem;
        color: $yiq-text-dark;
        letter-spacing: 0.8px;

        &:hover,
        &:active {
            text-decoration: none;
            box-shadow: inset 0px -4px 0px #6dcff6
        }
    }

    .desktop {
        @include media-breakpoint-down(md) {
            display: none;
        }

        .nav-logo {
            max-height: 10rem;
        }

    }

    .mobile {
        @include media-breakpoint-up(lg) {
            display: none;
        }

        .nav-logo {
            max-height: 5rem;
            margin: 1rem;
        }

        .logo-wrapper {
            display: flex;
            align-items: center;
            min-width: 200px
        }
    }
}

footer {

    padding: 2.5rem 0;
    min-height: 100px;

    p {
        font-size: 0.75rem;

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    .social {
        display: flex;
        justify-content: flex-end;

        @include media-breakpoint-down(md) {
            justify-content: center;
        }

        i {
            font-size: 2rem;
            margin: 0 0.75rem
        }
    }
}

.burger {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 8px;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        transition: transform .3s ease-in-out, background .3s ease-in-out;
        background: currentColor;
    }

    &:before {
        margin-bottom: 4px;
    }

    &.rotated {
        bottom: 3px;

        &:before {
            transform: translate(1px, 6px) rotate(-45deg);
        }

        &:after {
            transform: translate(1px, 0) rotate(45deg);
        }
    }

}

.lazy {
    opacity: 0;
    
    &:not(.initial) {
        transition: opacity 1s;
    }
    &.initial,
    &.loaded,
    &.error {
        opacity: 1;
    }
    &:not([src]) {
        visibility: hidden;
    }
}

.bricks-item {
    max-width: 200px;
    text-align: center
}