.home {
    p, a { font-size: 1.5rem }

    h2 { font-size: 3rem }
}
.hero-section {
    padding: 4rem 0;
    margin-top: 2rem;

    overflow-x: hidden;

    h1 {
        font-size: 4rem
    }
    
    @include media-breakpoint-down(md) {
        h1 {
            font-size: 3rem;
            text-align: center
        }
    }


    .hero-block-bg {
        width: 100%;
        height: calc(100% + 5rem);
        
        position: absolute;
        top: -10%;
        right: -25%;
        z-index: -1;
        background: var(--pink);
    }

    .hero-ctas {
        @include media-breakpoint-down(md) {
            
        }
    }

}

.general {
    padding: 4rem 0;

    .bg-block-image {
        width: 78%;
        float: right;
        
        display: block;
        max-width: 100%;

        position: relative;
    }

    .bg-block-bg {
        width: 86%;
        height: 100%;
        
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        
        background: var(--yellow);
    }
}

.services {
    padding: 4rem 0;
    
    img {
        padding-bottom: 2rem 
    }

    .block-card {
        @include media-breakpoint-down(md) {
            margin: 2rem 0
        }
    }
}

.home-gallery {
    padding: 4rem 0;
    
    .gallery-small {
        width: 48%;
    }
    .gallery-large {
        width: 100%
    }
}

.home-cta {
    padding: 4rem 0;
    
    background-color: var(--secondary-colour, $yellow)
    
    
}

footer {
    padding: 2.5rem 0;
    min-height: 100px
}