{{ define "main" }}
<main class="home">
    <section class="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img data-src="{{ .Params.Images }}" class="about-image lazy">
                </div>
                <div class="col-lg-6">
                    {{ .Content }}
                </div>
            </div>
        </div>

    </section>

    <section class="home-cta" data-color="blue">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h2>Order Today</h2>
                    <p>Place your custom order today!</p>
                    <div>
                        <a class="btn btn-dark rounded-pill px-4" href="/order/">Get Started</a>
                        <a class="btn btn-outline-dark rounded-pill px-4 ml-4"
                            href="tel:{{ .Site.Params.phoneNumber }}">{{ .Site.Params.phoneNumber }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{ end }}