{{ define "main" }}
<main class="home">
    <section class="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img data-src="{{ .Site.Params.cloudinary_base_url }}{{ .Params.Images }}" class="about-image lazy">
                </div>
                <div class="col-lg-6">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section>

    {{ partial "cta.html" . }}

</main>
{{ end }}