{{ define "main" }}
<main class="home">
    <section class="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img data-src="{{ .Site.Params.cloudinary_base_url }}{{ .Params.Images }}" class="about-image lazy">
                </div>
                <div class="col-lg-6">
                    {{ .Content }}
                </div>
            </div>
        </div>

    </section>

    <section class="home-cta" data-color="blue">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h2>Order Today</h2>
                    <p>Place your custom order today!</p>
                    <div class="hcta">
                        <div class="hcta--item">
                            <a class="btn btn-dark rounded-pill px-4" href="mailto:{{ .Site.Params.contactEmail }}?subject=That's%20a%20Wrap%20%7C%20Gift%20Basket%20Inquiry&body=Contact%20Details%3A%0A%20%20%20%20Name%3A%0A%20%20%20%20Phone%20Number%3A%0A%0AWho%20is%20the%20basket%20for%3F%0A%20%20%20%20Name%3A%0A%20%20%20%20Age%3A%0A%20%20%20%20Favorite%20Color%3A%0A%20%20%20%20Favorite%20Candy%3A%0A%20%20%20%20Favorite%20Beverage%3A%0A%20%20%20%20Clothing%20%2F%20Shoe%20Size%3A%0A%20%20%20%20Shipping%20Address%3A%0A%20%20%20%20Sports%20Teams%3A%0A%20%20%20%20Additional%20Hobbies%3A%0A%20%20%20%20Allergies%3A">Contact Us</a>
                        </div>
                        <div class="hcta--item">
                            <a class="btn btn-outline-dark rounded-pill px-4" href="tel:{{ .Site.Params.phoneNumber }}">{{ .Site.Params.phoneNumber }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{ end }}