<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>It's a wrap gift boxes</title>
    {{ $css := resources.Get "dist/main.css" | fingerprint }}
    <link rel="stylesheet" href="{{$css.RelPermalink}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
</head>
<body>
    <div>
        {{ partial "nav/site-nav.html" . }}
        
        {{ block "main" . }}
        
        {{ end }}
        
        {{ partial "footer/site-footer.html" . }}

        {{ $js := resources.Get "dist/main.js" | fingerprint }}
        {{ $vendor := resources.Get "dist/vendors~main.js" | fingerprint }}
        <script src="{{$js.RelPermalink}}"></script>
        <script src="{{$vendor.RelPermalink}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    </div>
</body>
</html>