{{ define "main" }}
<main class="gallery">
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5 text-center">
                    <h1>{{ .Title }}</h1>
                    <p>{{ .Content }}</p>
                </div>
            </div>
            <div class="row">
                {{ range .Params.services }}
                <div class="col text-center mb-4">
                    <img class="lazy img-fluid d-block mx-auto" style="max-height: 15rem; min-width: 15rem"
                        data-src="{{ $.Site.Params.cloudinary_base_url }}{{ .image }}">
                    <div class="mt-3">
                        <h4>{{ .Service }}</h4>
                        <p>{{ .service_description }}</p>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center my-5">Pricing</h2>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                          </tr>
                        </thead>
                        <tbody>
                        {{ range .Params.price_list }}
                          <tr>
                            <th>{{ .product_name }}</th>
                            <td>{{ .price }}</td>
                          </tr>
                        {{ end }}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </section>
    {{ partial "cta.html" . }}
</main>
{{ end }}