<footer>
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-md-7">
                <p>© 2019 That's a Wrap & More, LLC.</p>
            </div>
            <div class="col-sm">
                <div class="social">
                    <a href="{{ .Site.Params.social_facebook }}"><i class="fab fa-facebook"></i></a>
                    <a href="{{ .Site.Params.social_instagram }}"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>