<nav class="wrap-nav">
    <div class="desktop">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-around">
                    <div>
                        <a class="nav-item" href="/">Home</a>
                        <a class="nav-item" href="/about/">About</a>
                        <a class="nav-item invisible" href="#services">Services</a>
                    </div>
                    <img src="/images/wrap-logo.svg" alt="It's A Wrap" class="nav-logo">
                    <div>
                        <a class="nav-item" href="/gallery">Gallery</a>
                        <a class="nav-item" href="/faq/">FAQ</a>
                        <a class="nav-item" href="mailto:{{ .Site.Params.contactEmail }}?subject=That's%20a%20Wrap%20%7C%20Gift%20Basket%20Inquiry&body=Contact%20Details%3A%0A%20%20%20%20Name%3A%0A%20%20%20%20Phone%20Number%3A%0A%0AWho%20is%20the%20basket%20for%3F%0A%20%20%20%20Name%3A%0A%20%20%20%20Age%3A%0A%20%20%20%20Favorite%20Color%3A%0A%20%20%20%20Favorite%20Candy%3A%0A%20%20%20%20Favorite%20Beverage%3A%0A%20%20%20%20Clothing%20%2F%20Shoe%20Size%3A%0A%20%20%20%20Shipping%20Address%3A%0A%20%20%20%20Sports%20Teams%3A%0A%20%20%20%20Additional%20Hobbies%3A%0A%20%20%20%20Allergies%3A">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-between align-items-center">
                    <div class="logo-wrapper">
                        <img src="/images/wrap-logo.svg" alt="It's A Wrap" class="nav-logo">
                        <span>That's a Wrap</span>
                    </div>
                    <!-- <a><span class="burger"></span></a> -->
                    <a class="nav-item" href="mailto:{{ .Site.Params.contactEmail }}?subject=That's%20a%20Wrap%20%7C%20Gift%20Basket%20Inquiry&body=Contact%20Details%3A%0A%20%20%20%20Name%3A%0A%20%20%20%20Phone%20Number%3A%0A%0AWho%20is%20the%20basket%20for%3F%0A%20%20%20%20Name%3A%0A%20%20%20%20Age%3A%0A%20%20%20%20Favorite%20Color%3A%0A%20%20%20%20Favorite%20Candy%3A%0A%20%20%20%20Favorite%20Beverage%3A%0A%20%20%20%20Clothing%20%2F%20Shoe%20Size%3A%0A%20%20%20%20Shipping%20Address%3A%0A%20%20%20%20Sports%20Teams%3A%0A%20%20%20%20Additional%20Hobbies%3A%0A%20%20%20%20Allergies%3A">Contact</a>
                </div>
            </div>
        </div>
    </div>
</nav>