<nav class="wrap-nav">
    <div class="desktop">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-around">
                    <div>
                        <a href="/">Home</a>
                        <a href="/about/">About</a>
                        <a href="/gallery/">Gallery</a>
                    </div>
                    <img src="/images/wrap-logo.svg" alt="It's A Wrap" class="nav-logo">
                    <div>
                        <a href="/faq/">FAQ</a>
                        <a href="/contact/">Contact</a>
                        <a href="/order/">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile">
        <img src="/images/wrap-logo.svg" alt="It's A Wrap" class="nav-logo">

    </div>
</nav>