<section class="home-cta" data-color="blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h2>Order Today</h2>
                <p>Place your custom order today!</p>
                <div class="hcta">

                    <div class="hcta--item">
                        <button class="btn btn-outline-dark rounded-pill px-4" data-toggle="modal" data-target="#ctaModal">Schedule Meeting</button>
                    </div>
                    <div class="hcta--item">
                        <a class="btn btn-dark rounded-pill px-4" href="/contact/">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "cta-modal.html" . }}