
{{ define "main" }}
<main class="home">
    <section class="hero-section" data-color="yellow">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-around d-flex">
                <div class="col-lg-5">
                    <h1>Gift baskets for every taste and occasion</h1>
                    <div class="hero-ctas">
                        <div class="hero-ctas--item">
                            <a class="btn btn-dark rounded-pill px-4" href="mailto:info@thatsawrapandmore.com?subject=That's%20a%20Wrap%20%7C%20Gift%20Basket%20Inquiry&body=Contact%20Details%3A%0A%20%20%20%20Name%3A%0A%20%20%20%20Phone%20Number%3A%0A%0AWho%20is%20the%20basket%20for%3F%0A%20%20%20%20Name%3A%0A%20%20%20%20Age%3A%0A%20%20%20%20Favorite%20Color%3A%0A%20%20%20%20Favorite%20Candy%3A%0A%20%20%20%20Favorite%20Beverage%3A%0A%20%20%20%20Clothing%20%2F%20Shoe%20Size%3A%0A%20%20%20%20Shipping%20Address%3A%0A%20%20%20%20Sports%20Teams%3A%0A%20%20%20%20Additional%20Hobbies%3A%0A%20%20%20%20Allergies%3A">Contact Us</a>
                        </div>
                        <div class="hero-ctas--item">
                            <a class="underline hero-cta--second" href="tel:469-476-2456">469-476-2456</a>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-5 position-relative" style="padding: 2.5rem 1.25rem">
                    <img data-src="/images/valentines.jpg" class="img-fluid lazy">
                    <div class="hero-block-bg"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="general" data-color="pink">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 position-relative" style="padding: 5rem 1.25rem">
                    <img data-src="/images/girl-boss-2.jpg" class="bg-block-image lazy">
                    <div class="bg-block-bg"></div>
                </div>
                <div class="col-lg-5">
                    <div class="ml-lg-4">
                        <h2>More than just a pretty package</h2>
                        <p>Every custom gift basket we create is made just for you. We can help you customize every inch of your gift inside and out, while our commitment to building ensures you'll love the quality of your finished packaging boxes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-4">
                    <h2>Our Services</h2>
                </div>
                <div class="col-lg-4">
                    <div class="block-card">
                        <img data-src="/images/services/holidays@2x.jpg" class="img-fluid d-block mx-auto lazy">
                        <h3>Holidays</h3>
                        <p>That's A Wrap works year-round to meet all official & unofficial holidays.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block-card">
                        <img data-src="/images/services/build-box@2x.jpg" class="img-fluid d-block mx-auto lazy">
                        <h3>Build Your Own Box</h3>
                        <p>Choose your box for any occasion. This will let your box reflect your style. This will be the perfect gift or basket.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block-card">
                        <img data-src="/images/services/corporate@2x.jpg" class="img-fluid d-block mx-auto lazy">
                        <h3>Corporate & Events</h3>
                        <p>We promise to make eyes brighten & hearts flutter. Serving Irving Texas & DFW surrounding areas</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="gallery" class="home-gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <h2>Get inspired</h2>
                    <p>We’re here to help. Whether you’re designing custom gift baskets or need help with your gift idea, there’s lots of inspiration to be found for your
                        custom gift.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6 mt-3">
                    <div class="d-flex justify-content-between mb-3">
                        <div class="gallery-small"><img class="lazy img-fluid" data-src="/images/home-grid/mom.jpg"></div>
                        <div class="gallery-small"><img class="lazy img-fluid" data-src="/images/home-grid/easter-bear.jpg"></div>
                    </div>
                    <img class="lazy img-fluid gallery-large" data-src="/images/home-grid/victoria-secret.jpg">
                </div>
                <div class="col-lg-6 mt-3">
                    <img class="lazy img-fluid gallery-large mb-3" data-src="/images/home-grid/mothers-day.jpg">
                    <div class="d-flex justify-content-between">
                        <div class="gallery-small"><img class="lazy img-fluid" data-src="/images/home-grid/bunny.jpg"></div>
                        <div class="gallery-small"><img class="lazy img-fluid" data-src="/images/home-grid/bath-body.jpg"></div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="home-cta" data-color="blue">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h2>Order Today</h2>
                    <p>Place your custom order today!</p>
                    <div class="hcta">
                        <div class="hcta--item">
                            <a class="btn btn-dark rounded-pill px-4" href="mailto:info@thatsawrapandmore.com?subject=That's%20a%20Wrap%20%7C%20Gift%20Basket%20Inquiry&body=Contact%20Details%3A%0A%20%20%20%20Name%3A%0A%20%20%20%20Phone%20Number%3A%0A%0AWho%20is%20the%20basket%20for%3F%0A%20%20%20%20Name%3A%0A%20%20%20%20Age%3A%0A%20%20%20%20Favorite%20Color%3A%0A%20%20%20%20Favorite%20Candy%3A%0A%20%20%20%20Favorite%20Beverage%3A%0A%20%20%20%20Clothing%20%2F%20Shoe%20Size%3A%0A%20%20%20%20Shipping%20Address%3A%0A%20%20%20%20Sports%20Teams%3A%0A%20%20%20%20Additional%20Hobbies%3A%0A%20%20%20%20Allergies%3A">Contact Us</a>
                        </div>
                        <div class="hcta--item">
                            <a class="btn btn-outline-dark rounded-pill px-4" href="tel:(469) 476-2456">469-476-2456</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{ end }}